@font-face {
    font-family: "fontWeb";
    src:
        url("../../fonts/Poppins-Regular.ttf") format("ttf"),
        url("../../fonts/Poppins-Light.ttf") format("ttf"),
        url("../../fonts/Poppins-Bold.ttf") format("ttf");
}

* {
    font-family: "fontWeb", sans-serif;
}
