.home {
    .home-new-documents {
        margin: 2rem 0;
        h3 {
            display: flex;
            margin-bottom: 2rem;
        }
    }
    .home-most-view-documents {
        margin: 2rem 0;
        h3 {
            display: flex;
            margin-bottom: 2rem;
        }
    }
    .home-most-download-documents {
        h3 {
            display: flex;
            margin-bottom: 2rem;
        }
    }
    .home-most-download-documents {
        margin: 2rem 0;
        h3 {
            display: flex;
            margin-bottom: 2rem;
        }
    }
}
